<!DOCTYPE html>

<head>

<html lang="en">
    <meta charset="UTF-8">
<html>
<head>
    <title>Cars</title>
    <link href="../static/main.css" rel="stylesheet">

</head>
<body>
<h1>Cars</h1>
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="Flights.html">Flights</a></li>
    <li><a href="Cruises.html">Cruise</a></li>
    <li><a href="Cars.html">Cars</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">More</a>
        <div class="dropdown-content">
            <a href="Deals.html">Deals</a>
            <a href="Reviews.html">Reviews</a>
        </div>
    </li>
</ul>

<div>
        <label>Starting Point</label>
        <input type = "text">

        <label>Destination</label>
        <input type = "text">
        <br>
        <label>Depart Date</label>
        <input type = "date" name = "departdate">
        <input type = "time" name = "departTime">
        <br>
        <label>Return Date</label>
        <input type = "date" name = "returndate">
        <input type = "time" name = "returnTime">
        <br>
        <input type ="submit" name = "go" value = "Go">
    </div>
</body>
</html>
</title>
</head>
<body>

</body>
</html>