<!DOCTYPE html>
<html>
<head>
    <title>Flights</title>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
<h1>Flights</h1>


<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="Flights.html">Flights</a></li>
    <li><a href="Cruises.html">Cruise</a></li>
    <li><a href="Cars.html">Cars</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">More</a>
        <div class="dropdown-content">
            <a href="Deals.html">Deals</a>
            <a href="Reviews.html">Reviews</a>
        </div>
    </li>
</ul>

<div>
    <form action="/showHotels" method="POST">
        <label>Location</label>
        <select name="location">
            <option value="NY">NY</option>
            <option value="LA">LA</option>
        </select>

    <br>

        <label>Check In</label>
        <input type="date" name="in">
        <label>Check Out</label>
        <input type="date" name="out">
    <br>
        <input type="submit" name="go" value="Go">

    </form>
    <br>

</div>
</body>
</html>
