<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reviews - CL Squared Travel Agency</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <link rel="stylesheet" type = "text/css" href="../static/main.css">

    <link rel="stylesheet" type = "text/css" href="../static/revcss.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body class="reviews">
    <div class="header">
        <nav class="navbar justify-content-between">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link active" href="http://18.191.10.163/flights">Flights</a></li>
                <li class="nav-item"><a class="nav-link active" href="http://18.191.10.163/cruises">Cruises</a></li>
                <li class="nav-item"><a class="nav-link active" href="http://18.191.10.163/hotels">Hotel</a></li>
                <li class="nav-item"><a class="nav-link active" href="http://18.191.10.163/reviews">Reviews</a></li>
            </ul>
        </nav>
        <div class="card">
            <h1>CL<sup>2</sup> Travel Agency</h1>
            <h2>Reviews</h2>
        </div>
    </div>

    <div class="container">
        <div class="card second">
            <table>


            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Price</th>
            </tr>

            {% for item in data %}
            <tr>
                <form action="/hotelPayment" method="POST">

                    <input name="hotelName" type="hidden" value={{item[0]}}>
                    <input name="hotelLocation" type="hidden" value={{item[1]}}>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>${{item[2]}}</td>


                    <td><input type="submit" value="Payment"></td>
                </form>

            </tr>
            {% endfor %}
            </table>
        </div>



        <footer class="footer">
            <p>&copy; hi</p>
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>



<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
    </head>



    <body>
        <table>


        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Price</th>
        </tr>

        {% for item in data %}
        <tr>
            <form action="/hotelPayment" method="POST">

                <input name="hotelName" type="hidden" value={{item[0]}}>
                <input name="hotelLocation" type="hidden" value={{item[1]}}>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>${{item[2]}}</td>


                <td><input type="submit" value="Payment"></td>
            </form>

        </tr>
        {% endfor %}
        </table>
    </body>

</html>


